# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Venv
venv/
venv_old/
venv_backup2/

# User presets (not tracked)
presets/user/*
!presets/user/.gitkeep

# IDE
.vscode/
bin/
lib/
lib64
pyvenv.cfg
share/
