py7zr
pyvisa
pyvisa-py
numpy
matplotlib
sphinx
sphinx-rtd-theme
pandas
lmfit
scipy
zeroconf
psutil
pyusb
libusb1
pyserial
python-usbtmc
pyqtgraph
numdifftools
hantek6022

# GUI dependencies
PyQt5

# TUI dependencies
textual
rich